<!DOCTYPE html>
<html>
<head>
    <title>Welcome Page</title>
    <link rel="stylesheet" type="text/css" href="/css/introStyle.css">
    <script>
        function redirectTo(url) {
            window.location.href = url;
        }
    </script>
</head>
<body>
  <div class="whole_div">
    <div class="welcome_text_div">
        <h1 class="welcome_text"> Small demo - User login system </h1>
    </div>
    <div class="buttons">
        <div class="login_button_div">
            <button class="buttons" onclick="redirectTo('/login')">Login</button>
        </div>
        <div class="register_button_div">
            <button class="buttons" onclick="redirectTo('/register')">Register</button>
        </div>
        <div class="delete_button_div">
            <button class="buttons" onclick="redirectTo('/delete')">Delete</button>
        </div>
    </div>
  </div> 
</body>
</html>
