<!DOCTYPE html>
<html>
<head>
    <title>Welcome Page</title>
    <link rel="stylesheet" type="text/css" href="/css/styles2.css">
</head>
<body>
  <div class="lmao">
    <h1 class="welcome_text">Welcome to our website!</h1>
      <p>
        <button class="buttons"><a href="/login">Login</a></button>
        <br>
        <br>
        <button class="buttons"><a href="/register">Register</a></button>
        <br>
        <button class="buttons"><a href="/delete">Delete</a></button>
      </p>
  </div>
  
</body>
</html>
