<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/css/loginStyle.css">
</head>
<body>
  <div class="whole_div">
    <form action="/login" method="post" class="form">
        <fieldset class="fieldset">
            <div class="username_div">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"/>
            </div>
            <div class="password_div">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"/>
            </div>
            <div class="submit_div">
                <input type="submit" value="Log In"/>
            </div>
        </fieldset>
    </form>
  </div>
</body>
</html>

<!-- <!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <div class="form_container">
    <form action="/login" method="post" class="form">
        <fieldset class="fieldset">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"/>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"/>
            </div>
            <div>
                <input type="submit" value="Log In"/>
            </div>
        </fieldset>
    </form>
  </div>
</body>
</html> -->
