<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/css/loginStyle.css">
</head>
<body>
  <div class="whole_div">
    <form action="/login_fail" method="post" class="form">
        <p class="fail_text">
            Sorry, seems like your username or password is not correct!
        </p>
    </form>
    <div class="login_div">
        <a class="login" href="/login">Login again?</a>
    </div>
    <br>
    
    <div class="login_div">
        <a class="login" href="/">Return to home screen</a>
    </div>
  </div>
</body>
</html>