<!DOCTYPE html>
<html>
<head>
    <title>Login Success</title>
    <link rel="stylesheet" type="text/css" href="/css/loginSuccessStyle.css">
</head>
<body>
  <div class="whole_div">
    <form action="/login_success" method="post" class="form">
        <!-- <div class="avatar_div"> -->
            <img class="avatar" src="/util/avatar.jpg">
        <!-- </div> -->
        <br>
        <div class="welcome_text">
            <b>Welcome! You have successfully logged into our little demo!</b>
        </div>
        
        
        
    </form>
    
  </div>
</body>
</html>

