<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <form action="/register" method="post">
    <fieldset>
        <legend>Login</legend>
        <div>
            <label for="username">New username:</label>
            <input type="text" id="new_username" name="username"/>
        </div>
        <div>
            <label for="password">New password:</label>
            <input type="password" id="new_password" name="password"/>
        </div>
        <div>
            <input type="submit" value="Log In"/>
        </div>
    </fieldset>
</form></body>
</html>