<!DOCTYPE html>
<html>
<head>
    <title>Register Page</title>
    <link rel="stylesheet" type="text/css" href="/css/registerStyle.css">
</head>
<body>
  <div class="whole_div">
    <form action="/register_fail" method="post" class="form">
        <p class="fail_text">
            Sorry, seems like that username already existed!
        </p>
    </form>
    <div class="register_div">
        <a class="register" href="/register">Register again?</a>
    </div>
    <br>
    
    <div class="register_div">
        <a class="register" href="/">Return to home screen</a>
    </div>
  </div>
</body>
</html>